
.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
}

.container {
	width: 85%;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: white;
}

.body {
	height: 100%;
	width: 85%;
	display: flex;
}

.table_container {
	flex: 2;
	position: relative;
}

.filter_container {
	flex: 1;
}